<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ > 
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content={{description-tag}}>
    <meta name="author" content="">

    <title>{{title-tag}}</title>
  
    <!-- styles -->
    {% style "/css/bootstrap.min.css" %}
    {% style "/css/blog.css" %}
    {% style "/css/highlight/default.css" %}
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {{home-active}}" href="/">Home</a>
          <a class="blog-nav-item {{about-active}}" href="/about">About</a>
        </nav>
      </div>
    </div>
    <div class="container">
      
      {% block content %}
      {% endblock %}
      
    </div>

    <!-- scripts -->
    {% script "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %}
    {% script "/js/bootstrap.min.js" %}
    {% script "/js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
